@import "tailwindcss";

@theme {
  /* Button colors */
  --color-button-primary: #2374a1;
  --color-button-hover: #1c5d81;
  --color-button-active: #0e3f54;
  --color-button-disable: #7bacc7;
  --color-button-inactive: #eceff5;
  --color-button-secondary: #aee2ff;
  --color-button-tag: #2374a1;

  /* Text colors */
  --color-text-primary: #0e3f54;
  --color-text-secondary: #252525;
  --color-text-tertiary: #4ebd96;
  --color-text-secondary-contrast: #252525;
  --color-text-tag: #2374a1;
  --color-button-text-light: #ffffff;
  --color-text-counter: #2374a1;

  /* Icon colors */
  --color-icon-primary: #2374a1;
  --color-icon-secondary: #252525;
  --color-icon-tag: #ffffff;

  /* Background colors */
  --color-background-primary: #ffffff;
  --color-background-secondary: #eaf4fa;
  --color-background-tertiary: #d3e3ec;
  --color-background-fourth: #dcf2ea;

  /* Border */
  --color-border-primary: #2374a14d;
  --color-border-secondary: #2374a1;

  /* Separator */
  --color-separator-primary: #d9d9d9;
}

/* Dark theme variables override when [data-theme="dark"] is present */

[data-theme="dark"] {
  /* Button colors */
  --color-button-primary: #aee2ff;
  --color-button-hover: #1c5d81;
  --color-button-disable: #7bacc7;
  --color-button-active: #0e3f54;
  --color-button-inactive: #eceff5;
  --color-button-secondary: #aee2ff;
  --color-button-tag: #aee2ff;

  /* Text colors */
  --color-text-primary: #ffffff;
  --color-text-secondary: #b7b7b7;
  --color-text-secondary-contrast: #ffffff;
  --color-text-tag: #aee2ff;
  --color-button-text-light: #2374a1;
  --color-text-counter: #ffffff;
  --color-text-tertiary: #4ebd96;

  /* Icon colors */
  --color-icon-primary: #ffffff;
  --color-icon-secondary: #b7b7b7;
  --color-icon-tag: #2374a1;

  /* Background colors */
  --color-background-primary: #001927;
  --color-background-secondary: #002e42;
  --color-background-tertiary: #003c55;
  --color-background-fourth: #00354a;

  /* Border */
  --color-border-primary: #4c5e68;
  --color-border-secondary: #aee2ff;

  /* Separator */
  --color-separator-primary: #d9d9d9;
}

/* Typography System - Based on UI Style Guide */

body {
  background-color: var(--color-background-primary);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container */
.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* Fade animation for project cards */
.fade-in-element {
  opacity: 0;
  animation: fadeIn 0.6s ease-out forwards;
}

.my-dashed-border {
  border-bottom: 1px dashed var(--color-border-primary);
  border-image: repeating-linear-gradient(
      to right,
      var(--color-border-primary) 0 16px,
      transparent 10px 24px
    )
    1;
}

.my-dashed-border-y {
  border-left: 1px solid var(--color-border-primary);
  border-right: 1px solid var(--color-border-primary);

  border-image: repeating-linear-gradient(
      to bottom,
      var(--color-border-primary) 0 16px,
      transparent 16px 24px
    )
    1 !important;
}

.my-dashed-border-right {
  border-right: 1px dashed var(--color-border-primary);
  border-image: repeating-linear-gradient(
      to bottom,
      var(--color-border-primary) 0 16px,
      transparent 10px 24px
    )
    1;
}

.my-dashed-border-top {
  border-top: 1px dashed var(--color-border-primary);
  border-image: repeating-linear-gradient(
      to right,
      var(--color-border-primary) 0 16px,
      transparent 10px 24px
    )
    1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.6s ease-out forwards;
}

html {
  scroll-behavior: smooth;
}

@keyframes footer-lines-down {
  from {
    background-position-y: -120px;
  }
  to {
    background-position-y: 120px;
  }
}

.animated-lines {
  background-image: linear-gradient(
    to bottom,
    rgba(26, 166, 166, 0.6) 50%,
    transparent 50%
  );
  background-size: 2px 120px;
  background-repeat: repeat-x;
  animation: footer-lines-down 6s linear infinite;
  opacity: 0.5;
}
