@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --breakpoint-980: 980px;

  /* Button colors */
  --color-button-primary: #2374a1;
  --color-button-hover: #1c5d81;
  --color-button-disable: #7bacc7;
  --color-button-active: #0e3f54;
  --color-button-inactive: #eceff5;

  /* Text colors */
  --color-text-primary: #0e3f54;
  --color-text-secondary: #252525;
  --color-text-white: #ffffff;
  --color-text-tertiary: #4ebd96;
  --color-text-tag: #2374a1;

  /* Stroke colors */
  --color-stroke-primary: #a7decb;
  --color-stroke-secondary: #4ebd96;
  --color-stroke-tertiary: #2374a1;

  /* Icon colors */
  --color-icon-primary: #2374a1;
  --color-icon-secondary: linear-gradient(180deg, #2374a1 0%, #4ebd96 100%);

  /* Card colors */
  --color-card-first: #e4f6ff;
  --color-card-second: #e9fff7;

  /* Background colors */
  --color-background-primary: #ffffff;
  --color-background-secondary: #eaf4fa;
  --color-background-tertiary: #d3e3ec;
  --color-background-fourth: #dcf2ea;

  /* Font family */
  --font-montserrat: "Montserrat", sans-serif;

  /* Border */
  --color-border-primary: #2374a14d;

  /* Separator */
  --color-separator-primary: #d9d9d9;
}

/* Dark theme variables override when [data-theme="dark"] is present */

[data-theme="dark"] {
  --color-text-primary: #ffffff;
  /* Background colors */
  --color-background-primary: #001927;
  --color-background-secondary: #002e42;
  --color-background-tertiary: #003c55;
  --color-background-fourth: #00354a;
}

/* Typography System - Based on UI Style Guide */

body {
  font-family: var(--font-montserrat);
  background-color: var(--color-background-primary);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container */
.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* Fade animation for project cards */
.fade-in-element {
  opacity: 0;
  animation: fadeIn 0.6s ease-out forwards;
}

.my-dashed-border {
  border-bottom: 1px dashed var(--color-border-primary);
  border-image: repeating-linear-gradient(
      to right,
      var(--color-border-primary) 0 16px,
      transparent 10px 24px
    )
    1;
}

.my-dashed-border-top {
  border-top: 1px dashed var(--color-border-primary);
  border-image: repeating-linear-gradient(
      to right,
      var(--color-border-primary) 0 16px,
      transparent 10px 24px
    )
    1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.6s ease-out forwards;
}
/* @media (max-width: 767px) {
  .my-dashed-border-top {
    border-top: 1px dashed var(--color-border-primary);
    border-image: repeating-linear-gradient(
        to right,
        var(--color-border-primary) 0 16px,
        transparent 10px 24px
      )
      1;
  }
} */
